*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
body{
  background-color: white;
}

.nav-bar-1{
  background-color:white;
  height:auto;
  display: flex;
  margin:10px;
  justify-content: space-between;
  padding:5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.nav-1-heading{
  text-align: center;
  margin-top: 10px;
  line-height: 28px;
}

.nav-bar-2{
  background-color:rgb(40, 39, 39);
  height: 36px;
  padding: 9px 15px;
  margin:10px;
  margin-top: -20px;
}
.nav-bar-2 i{
  color: white;
  font-size: 15px;
}
.nav-bar-2 span{
  color: white;
  font-weight: 300;
  position: relative;
}

.ranks-selector{
  box-shadow: 2px 2px 5px rgb(166, 164, 164),-2px -2px 5px rgb(166, 164, 164);
  margin:10px;
  padding: 20px 15px;
}
.ranks-selector p{
  color: blue;
  font-weight: 550;
  margin-bottom: -10px;

}
.select{
   margin-left: 50px;
   margin-top: 10px;
}
.select label{
  font-weight: 550;
  display: flex;
  justify-content:flex-end;
  position: relative;
  right: 65%;
  
}
.select select{
  display: inline;
  width: 300px;
  height: 35px;
  font-size: 15px;
  position: relative;
  left: 37%;
  top: -28px;
  padding-left: 5px;
  z-index: 100;
}

.btn-submit{
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.description{
  box-shadow: 2px 2px 5px rgb(166, 164, 164),-2px -2px 5px rgb(166, 164, 164);
  margin:10px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
}
.description .blue{
  color: rgb(123, 123, 211);
}
.description .red{
  color: rgb(229, 65, 65);
  font-weight: 550;
}